.input-container{
    width: 100%;
    margin-bottom: 15px;
}
#title{
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's width */
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 10px;
}
#title:focus{
    outline: none;
}

.tag-input-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.tag-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#tagInput {
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#tagInput:focus{
    outline: none;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: flex;
    align-items: center;
    background-color: #d1ecf1;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px 0;
    font-size: 14px;
}

.tag .close {
    margin-left: 8px;
    cursor: pointer;
    font-size: 14px;
    color: #007bff;
}

.tag .close:hover {
    color: #ff0000;
}

.dropdown-container {
    margin: 20px 0;
}
select {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
select:focus{
    outline: none;
}
label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}
.askBtn{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: white;
}
.askBtn:hover{
    transform: scale(1.1);
}
.askBtn .icons{
    padding: 2px;
    width: 20px;
}
/*the word/editor styling*/
/* Adding margin bottom for the Quill toolbar buttons */
.ql-toolbar .ql-formats {
    margin-bottom: 10px; 
}
