/* Sidebar Styling */
#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px; /* Adjust size as needed */
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    padding-top: 20px;
  }
  
  .sidebar-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .sidebar-item:hover {
    background-color: #e0e0e0;
  }
  
  .sidebar-icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }
  
  .sidebar-bottom {
    position: absolute;
    bottom: 170px;
    width: 40%;
    padding: 10px;
    text-align: center;
  }
  
  .feedback-btn {
    width: 100%;
    padding: 12px;
    border: thin solid #ddd;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .feedback-btn:hover {
    background-color: #1A1A1A;
    color: white;
  }
  
